/UNIDAD 1/TI1.1 SOAP_JAVA_CONUNI_GR08/02.CLICON/CLICON_ConUni_Gr08/target/
# Visual Studio / Rider
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
*.sln.iml

# Build outputs
bin/
obj/
out/
Debug/
Release/
x64/
x86/
[aA]rtifacts/

# VS index / cache
*.vsidx
*.opendb
*.cache
*.db

# NuGet
packages/
*.nupkg
*.snupkg

# Node (si usas)
node_modules/

# Publicaciones
publish/
dist/

# ASP.NET Core configs (mantén solo el base)
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
/UNIDAD 1/Tl1.3 RESTFULL_JAVA_CONUNI_GR08/02.CLICON/CLICON_CONUNI_GR08/target/
