/ArquitecturaParcial1/UNIDAD 1/Tl1.3 RESTFULL_JAVA_CONUNI_GR08/02.CLIESC/CLIESC_CONUNI_RESTJAVA_GR08/target/
/UNIDAD1-TALLERES-BDD/TI1.1  SOAP_JAVA_EUREKA_BANK_GR08/01.SERVIDOR/ws_eureka_bank_soap_java/target/
/UNIDAD1-TALLERES-BDD/TI1.1  SOAP_JAVA_EUREKA_BANK_GR08/02.CLICON\CLICON_EUREKA_GR08/target/
/ArquitecturaParcial1/UNIDAD 1/Tl1.3 RESTFULL_JAVA_CONUNI_GR08/01.SERVIDOR/WS_ConUni_RESTFULLJAVA_GR08/target/
