<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginServicio" />
                <binding name="BasicHttpBinding_IConversionUnidadesServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Design_Time_Addresses/CONUNIL_GR08/LoginServicio/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginServicio"
                contract="ServiceReference1.ILoginServicio" name="BasicHttpBinding_ILoginServicio" />
            <endpoint address="http://localhost/Design_Time_Addresses/CONUNIL_GR08/ConversionUnidadesServicio/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConversionUnidadesServicio"
                contract="ServiceReference2.IConversionUnidadesServicio" name="BasicHttpBinding_IConversionUnidadesServicio" />
        </client>
    </system.serviceModel>
</configuration>